::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
body {
  margin: 0 auto;
  color: #757575;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

img {
  display: block;
}

li {
  list-style: none;
}

span {
  color: #2196F3;
  color: #ffffff;
}

.post__button {
  width: 216px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
}

.header {
  padding-top: 34px;
  padding-bottom: 17px;
  border-bottom: 1px solid #757575;
}

.header-link:hover,
.header-link:focus {
  color: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0, 78px;
  text-decoration: none;
}
.header-wrapper__web {
  color: #2196F3;
}

.site-nav__list {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 240px;
}
.site-nav__list:hover, .site-nav__list:focus {
  color: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link {
  text-decoration: none;
  color: #212121;
  position: relative;
  padding-right: 40px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts-list__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: Header;
          animation-name: Header;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-right: 50px;
}
.contacts-list__post {
  width: 15px;
  height: 15px;
  -webkit-animation-name: Header;
          animation-name: Header;
}
.contacts-list__post:hover {
  fill: #2196F3;
}
.contacts-list__phone {
  width: 15px;
  height: 15px;
  -webkit-animation-name: Header;
          animation-name: Header;
}

.icon {
  margin-right: 10px;
  fill: #757575;
}

.contacts-list .contacts-list__number:hover {
  color: #2196F3;
}

.contacts-list__number:hover .icon {
  fill: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes Header {
  100% {
    fill: #2196F3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes Header {
  100% {
    fill: #2196F3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link.current::after {
  content: "";
  display: block;
  background-color: #2196F3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: -20px;
  bottom: -26px;
  -webkit-transition: background-color 1000ms ease-in-out;
  transition: background-color 1000ms ease-in-out;
}

.site-nav__link:hover.current::after {
  background-color: #008cff;
  -webkit-transition: background-color 1000ms ease-in-out;
  transition: background-color 1000ms ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.post {
  text-align: center;
  background-image: url(../images/imgoverlay.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
}

.post__title {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 162%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.post__button {
  padding: 10px 24px;
  background-color: #2196F3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto" sans-serif;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .post {
    padding-top: 100px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
  }
  .post__title {
    padding: 10px 32px;
    font-size: 44px;
  }
}
.post {
  text-align: center;
  background-image: url(/images/imgoverlay.png);
  padding-top: 118px;
  padding-bottom: 118px;
}
.post__title {
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.post-button-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30px;
  color: var(--second-text-color);
  background: #2196F3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin: 0 auto;
}

.post-button-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 30px;
  color: #ffffff;
  background: #2196F3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px;
          box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px;
}
.modal__close-button {
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  top: 8px;
  left: 490px;
  /* box-sizing: border-box; */
  background-image: url(/images/....);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__icon {
  fill: #FFF;
}
.modal__icon:hover {
  fill: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:focus {
  fill: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.modal__form:hover {
  -webkit-transition-property: translate;
  transition-property: translate;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.modal__form-title {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.modal__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}
.modal__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__form-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
}
.modal__form-policy-text {
  color: #757575;
}

.comment {
  width: 416px;
  height: 96px;
}

.modal-form-icon1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal-form-icon2 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.modal-form-icon3 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.activity {
  padding-top: 94px;
  padding-bottom: 100px;
}
.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activity__item {
  width: 370px;
}
.activity__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;
}
.activity__text {
  bottom: 70px;
  color: #ffffff;
  line-height: 68px;
  letter-spacing: 2.54px;
  background-color: #2f303A;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.9;
}

.clients {
  margin-top: 94px;
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.clients__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  font-size: 36px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-bottom: 94px;
  -webkit-transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
}
.clients-list__item {
  margin-left: 30px;
}
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1BB;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: Clientsname;
          animation-name: Clientsname;
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1BB;
  -webkit-animation-name: Clientsname;
          animation-name: Clientsname;
}

.clients-list__link:hover .clients-list__icon {
  fill: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes Clientsname {
  0% {
    fill: #2196F3;
    border-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-name: Clientsname;
            animation-name: Clientsname;
  }
  100% {
    fill: #2196F3;
    border-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-name: Clientsname;
            animation-name: Clientsname;
  }
}

@keyframes Clientsname {
  0% {
    fill: #2196F3;
    border-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-name: Clientsname;
            animation-name: Clientsname;
  }
  100% {
    fill: #2196F3;
    border-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation-name: Clientsname;
            animation-name: Clientsname;
  }
}
.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.team__list {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__card:not(:last-child) {
  margin-right: 30px;
}
.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.team__position {
  color: #757575;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  width: 270px;
}

.social-list {
  margin-top: 28px;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.social-list__link {
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
  -webkit-animation-name: SLL;
          animation-name: SLL;
}
.social-list__icon {
  fill: #757575;
  width: 20px;
  height: 20px;
  -webkit-animation-name: SLL;
          animation-name: SLL;
}

.social-list__item:hover .social-list__icon {
  fill: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:hover,
.social-list__item:focus {
  background-color: #2196F3;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes SLL {
  100% {
    fill: #ffffff;
    background-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes SLL {
  100% {
    fill: #ffffff;
    background-color: #2196F3;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-list__name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-align: center;
}

.benefits-list__text {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

.benefits-list__block {
  max-width: 450px;
  margin-bottom: 30px;
}

.benefits-list__block::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  background-image: url(../images/antennas.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-list__block {
    width: 354px;
  }
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benenefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .benefits-list__item {
    width: 270px;
  }
  .benefits-list__name {
    padding-top: 30px;
    padding-bottom: 10px;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
  }
  .benefits-list__text {
    font-size: 14px;
    line-height: 1.71;
  }
  .benefits-list__block {
    width: 270px;
    height: 120px;
  }
  .benefits-list__block::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    background-image: url(../images/antennas.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
  }
  .benefits-list__block:nth-child(2)::before {
    background-image: url(../images/clocks.png);
  }
  .benefits-list__block:nth-child(3)::before {
    background-image: url(../images/diagrams.png);
  }
  .benefits-list__block:nth-child(4)::before {
    background-image: url(../images/astronauts.png);
  }
  .benefits-list__block:not(:last-child) {
    margin-right: 30px;
  }
}
.page-footer {
  padding-top: 60px;
  background-color: #2f303A;
  white-space: 80px;
  padding-bottom: 60px;
}

.address__text {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172%;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: #2196F3;
}

.web {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
  color: #FFF;
}

.footer-content {
  padding: 9px;
}

.footer-added {
  margin-top: 20px;
}

.phone-number,
.email {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172%;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-list-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-list-a__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.social-list-a__item:hover {
  background-color: #2196F3;
}

.social-list-a__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.pry {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-input {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.48px;
  width: 358px;
  margin-right: 12px;
}

.footer__form-button {
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 187%;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  cursor: pointer;
  border: none;
}

.work-block {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button--current {
  background-color: #2196F3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter__button-line {
  background-color: #f5f4fa;
  margin-left: 8px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.content__link {
  display: block;
}
.content__item {
  display: block;
  margin-top: 30px;
  margin-right: 30px;
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
}
.content__title {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.content__name {
  margin-bottom: 4px;
  color: #212121;
}
.content__text {
  letter-spacing: 0.03em;
  color: #757575;
}

.content__link:hover,
.content__link:focus {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px RGB(0 0 0/12%), 0px 4px 4px RGB(0 0 0/6%), 1px 4px 6px RGB(0 0 0/16%);
          box-shadow: 0px 1px 1px RGB(0 0 0/12%), 0px 4px 4px RGB(0 0 0/6%), 1px 4px 6px RGB(0 0 0/16%);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-thumb__actions {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  background: #2196f3;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: transform 250ms linear, opacity 250ms linear;
  transition: transform 250ms linear, opacity 250ms linear, -webkit-transform 250ms linear;
}

.content__link:hover .product-thumb__actions {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.filter__button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding: 6px 22px;
}

.filter__button:focus,
.filter__button:hover {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */