.activity{


     &__title{
        color: #212121;
        margin-top: 222px;
     }


     &__list{
        margin-bottom: 86px;
    }

    &__text{
        position: relative;
        bottom: 70px;
        color: $second-text-color;
        line-height: 68px;
        letter-spacing: 2.54px;
        background-color: $secondary-background-color;
           background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0.9;
    }

}

