.page-footer{
    padding-top: 60px;
    background-color: $secondary-background-color;
    white-space: 80px;
    padding-bottom: 60px;
}

.adress-text{
    color: $second-text-color;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}

.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: $backgroun-team-color;
}

.footer-content{
    padding: 9px;
}

.footer-added{
    margin-top: 20px;
}

.phone-number,
.email{
    color: $primary-text-color;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}
.address{
    display: flex;
    flex-direction: column;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
.social-list-a{
    display: flex;
    gap: 10px;
}
.social-list-a__item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-list-a__icon{
    width: 20px;
    height: 20px;
    fill: #fff;
}